/* ESTILOS GENERALES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
html{
  height: 100%;
}
body::-webkit-scrollbar {
  -webkit-appearance: none;
}
body::-webkit-scrollbar:vertical {
  width:10px;
}
body::-webkit-scrollbar-button:increment,.contenedor::-webkit-scrollbar-button {
  display: none;
}
body::-webkit-scrollbar:horizontal {
  height: 10px;
}
body::-webkit-scrollbar-thumb {
  background-color: #797979;
  border-radius: 20px;
  border: 2px solid #f1f2f3;
}
body::-webkit-scrollbar-track {
  border-radius: 10px;  
}





/* SCROLLTOP */
.scrollTop{
  position: fixed;
  right: 2vw;
  bottom: -20%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: rgba(123,111,113,0.7);
  border-radius: 10px;
  z-index: 100;
  transition: 0.4s;
  visibility: hidden;
  text-decoration: none;
}

.scrollTop__Icon{
  font-size: 2rem;
  color: #fbf9f9;
}

.scrollTop:hover{
  background-color: #E23636;
}

.scrollTop__Show{
  visibility: visible;
  bottom: 1.5rem;
}





/*CARROUSEL*/
#carousel{
  min-height:auto;
  width: 95vw;
  background-color:white;
  margin: 30px;
}

.carrouselImg{
  margin: 15px;
  width:  100%;
  flex:1;
  border-radius:0,5px;
}





/*HEADER*/
#logo a{
  display: flex;
  height: 100px;
}

#logo_media{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#media_icons{
  width: 10vw;
  display: flex;
  height: 30px;
  justify-content: space-evenly;
  position: relative;
  right: 50px;
}

.headerIcons{
  font-size: 35px;
  color: #E23636;
  margin-right: 5px;
}

.headerIcons:hover{
  color: #3D0000;
}





/* NAVBAR */
.navegationLink{
  font-weight: bolder;
}
.navegationLink:hover{
  color: #E23636;
}
#bannerImg{
  border-style: solid;
  border-color: #E23636;
  border-width: 3px 0px 0px 0px ;
}





/*BANNER*/
.banner{
  width: 100%;
  height: 100vh;
  display: flex;
  color: black;
  margin-bottom: 40px;
  background-image: url(/assets/img/banner/dog.jpg);
  background-attachment: fixed;
  background-position: 0px 0px;
  background-size: cover;
}
body .bannerContainer{
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}
.banner .bannerContainer{
  width: 100%;
}
.bannerInfo{
  background-color: rgba(51, 51, 51, 0.6);
  width: 100%;
  margin-top: 0px;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bannerInfo h1{
  font-size: 70px;
  margin-top: 180px;
  padding: 10px;
  font-weight: 900;
}
.bannerInfo p{
  font-size: 20px;
  padding: 10px;
  margin-bottom: 40px;
}
.bannerInfo a{
  text-align: center;
  text-decoration: none;
  padding: 15px;
  color: white;
  border: 2px solid white;
  border-radius: 5px;
  margin-top: 10px;
  transition: all 300ms;
}
.bannerInfo a:hover{
  background-color: white;
  color: #E23636;
  font-weight: 900;
}




/*INTRO*/
#intro{
  display: flex;
  justify-content: center;
  background-color: rgb(241, 241, 241);
  margin-top: 40px;
}
#text {
  display: flex;
  align-items: center;
  margin: 50px;
}
.textIntro{
  font-size: large;
}
#intro_text{
  font-weight: bold;
}





/*CATÁLOGO*/
.catalogo {
  display: flex;
  height: 100%;
  width: 100vw;
  margin-bottom: 6vh;
}
.catalogo .catalogo__Box {
  position: relative;
  overflow: hidden;
  border-right: 1vh solid #ffffff;
}
.catalogo .catalogo__Box .catalogo__Img {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  opacity: 0.5;
  filter: grayscale(1);
  cursor: pointer;
}
.catalogo .catalogo__Box .catalogo__Img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.catalogo .catalogo__Box .catalogo__Img .catalogo__Titulo {
  font-size: 2vh;
  margin-right: 1vh;
  font-weight: 900;
  text-align: center;
  position: absolute;
  color: #ffffff;
  opacity: 1;
  filter: grayscale(0);
}
.catalogo .catalogo__Box .catalogo__Img:hover {
  opacity: 1;
  filter: grayscale(0);
}
.catalogo .catalogo__Box .catalogo__Img:hover .catalogo__Titulo {
  color: #E23636;
}
.catalogo .catalogo__Box:last-child {
  border-right: none;
}

/*MEDIAQUERIE UBICACIÓN TAMAÑO TEXTO BANNER CATÁLOGO EN DISPOSITIVOS SUPERIORES A 480PX*/
@media only screen and (min-width: 480px) {
  .catalogo .catalogo__Box .catalogo__Img .catalogo__Titulo {
    font-size: 2.5vh;
  }
}

/*MEDIAQUERIE UBICACIÓN TAMAÑO TEXTO BANNER CATÁLOGO EN DISPOSITIVOS SUPERIORES A 600PX*/
@media only screen and (min-width: 600px) {
  .catalogo .catalogo__Box .catalogo__Img .catalogo__Titulo {
    font-size: 3vh;
  }
}

/*MEDIAQUERIE UBICACIÓN TAMAÑO TEXTO BANNER CATÁLOGO EN DISPOSITIVOS SUPERIORES A 1020PX*/
@media only screen and (min-width: 1020px) {
  .catalogo .catalogo__Box .catalogo__Img .catalogo__Titulo {
    font-size: 3.5vh;
  }
}

/*MEDIAQUERIE UBICACIÓN TAMAÑO TEXTO BANNER CATÁLOGO EN DISPOSITIVOS SUPERIORES A 500PX LANDSCAPE*/
@media only screen and (min-width: 500px) and (orientation: landscape) {
  .catalogo .catalogo__Box .catalogo__Img .catalogo__Titulo {
    font-size: 9vh;
  }
}

/*MEDIAQUERIE UBICACIÓN TAMAÑO TEXTO BANNER CATÁLOGO EN DISPOSITIVOS SUPERIORES A 800PX LANDSCAPE*/
@media only screen and (min-width: 800px) and (orientation: landscape) {
  .catalogo .catalogo__Box .catalogo__Img .catalogo__Titulo {
    font-size: 10vh;
  }
}

/*MEDIAQUERIE UBICACIÓN TAMAÑO TEXTO BANNER CATÁLOGO EN DISPOSITIVOS SUPERIORES A 850PX LANDSCAPE*/
@media only screen and (min-width: 850px) and (orientation: landscape) {
  .catalogo .catalogo__Box .catalogo__Img .catalogo__Titulo {
    font-size: 8.5vh;
  }
}

/*MEDIAQUERIE UBICACIÓN TAMAÑO TEXTO BANNER CATÁLOGO EN DISPOSITIVOS SUPERIORES A 925PX LANDSCAPE*/
@media only screen and (min-width: 925px) and (orientation: landscape) {
  .catalogo .catalogo__Box .catalogo__Img .catalogo__Titulo {
    font-size: 7.6vh;
  }
}

/*MEDIAQUERIE UBICACIÓN TAMAÑO TEXTO BANNER CATÁLOGO EN DISPOSITIVOS SUPERIORES A 1020PX LANDSCAPE*/
@media only screen and (min-width: 1020px) and (orientation: landscape) {
  .catalogo .catalogo__Box .catalogo__Img .catalogo__Titulo {
    font-size: 7vh;
  }
}

/*MEDIAQUERIE UBICACIÓN TAMAÑO TEXTO BANNER CATÁLOGO EN DISPOSITIVOS SUPERIORES A 1200PX LANDSCAPE*/
@media only screen and (min-width: 1200px) and (orientation: landscape) {
  .catalogo .catalogo__Box .catalogo__Img .catalogo__Titulo {
    font-size: 6vh;
    margin-right: 4vh;
  }
}





/*GALERIA DE PRODUCTOS*/
.galeriaProductos {
  margin-bottom: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.galeriaProductos .galeriaProductos__Titulo {
  margin-bottom: 2vh;
  font-size: 20vh;
  text-align: center;
  color: #E23636;
}
.galeriaProductos .galeriaProductos__Titulo h2 {
  font-weight: 900;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.galeriaProductos .galeriaProductos__Contenedor .galeriaProductos__Card {
  padding: 5px;
  overflow: hidden;
  max-width: 400;
}
.galeriaProductos .galeriaProductos__Contenedor .galeriaProductos__Card .galeriaProductos__CardContenedor {
  display: block;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
  border-radius: 3px;
}
.galeriaProductos .galeriaProductos__Contenedor .galeriaProductos__Card .galeriaProductos__CardContenedor .galeriaProductos__CardImg {
  width: 100%;
  height: auto;
  cursor: pointer;
}
.galeriaProductos .galeriaProductos__Contenedor .galeriaProductos__Card .galeriaProductos__CardContenedor:hover {
  transform: translateY(-3px) scale(1);
}
.galeriaProductos .galeriaProductos__Boton {
  max-width: 12em;
  padding: 1vh;
  margin: 3vh 1vh;
  text-decoration: none;
  background: linear-gradient(50deg, #E23636, #eb76a3);
  text-align: center;
  display: block;
  color: white;
  font-size: 2vh;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 5px;
  transition: all 200ms;
}
.galeriaProductos .galeriaProductos__Boton:hover {
  transform: translateY(10px);
  box-shadow: 0px 30px 5px -15px rgba(0, 0, 0, 0.3);
  color: white;
}





/* POPUP CON DETALLES DEL PRODUCTO */
#popup {
  display: none;
}
#popup .popup {
  z-index: 200;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
}
#popup .popup .popup__Contenedor {
  background: white;
  max-width: 70vw;
  max-height: 90vh;
}
#popup .popup .popup__Contenedor .popup__ContenedorImg {
  width: 100%;
  height: 100%;
}
#popup .popup .popup__Contenedor .popup__ContenedorImg .popup__Img {
  width: 100%;
  height: 100%;
}
#popup .popup .popup__Contenedor .popup__ContenedorProductos {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
#popup .popup .popup__Contenedor .popup__ContenedorProductos .popup__ContenedorNombre {
  font-weight: 900;
  color: #E23636;
  margin-bottom: 1vh;
  margin-top: 2vh;
  font-size: 5vw; }
#popup .popup .popup__Contenedor .popup__ContenedorProductos .popup__ContenedorPrecio {
  font-size: x-large;
  font-weight: 600;
  margin-bottom: 1vh;
  color: #0f0007;
  font-size: 4vw; }
#popup .popup .popup__Contenedor .popup__ContenedorProductos .popup__ContenedorStock {
  font-size: x-large;
  font-weight: 600;
  color: #767274;
  font-size: 2.5vw;
}
#popup .popup .popup__Contenedor .popup__ContenedorProductos .popup__ContenedorDescription {
  font-size: x-large;
  font-weight: 600;
  color: #767274;
  font-size: 2.5vw;
}
#popup .popup .popup__Cerrar {
  display: block;
  position: absolute;
  top: 100px;
  right: 30px;
  background: #E23636;
  color: #ffffff;
  cursor: pointer;
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  border-radius: 50%;
}

@media only screen and (min-width: 580px) {
  #popup .popup .popup__Contenedor {
    max-width: 85vw;
  }
  #popup .popup .popup__Contenedor .popup__ContenedorProductos .popup__ContenedorNombre {
    font-size: 4vw;
  }
  #popup .popup .popup__Contenedor .popup__ContenedorProductos .popup__ContenedorPrecio {
    font-size: 3vw;
  }
  #popup .popup .popup__Contenedor .popup__ContenedorProductos .popup__ContenedorStock {
    font-size: 2vw;
  }
  #popup .popup .popup__Contenedor .popup__ContenedorProductos .popup__ContenedorDescription {
    font-size: 2vw;
  }
}

@media only screen and (min-width: 760px) {
  #popup .popup .popup__Contenedor .popup__ContenedorImg {
    width: 100%;
    height: 100%;
  }
  #popup .popup .popup__Contenedor .popup__ContenedorProductos .popup__ContenedorNombre {
    font-size: 5vw;
  }
  #popup .popup .popup__Contenedor .popup__ContenedorProductos .popup__ContenedorPrecio {
    font-size: 4vw;
    margin-bottom: 2.5vw;
  }
  #popup .popup .popup__Contenedor .popup__ContenedorProductos .popup__ContenedorStock {
    font-size: 3vw;
  }
  #popup .popup .popup__Contenedor .popup__ContenedorProductos .popup__ContenedorDescription {
    font-size: 3vw;
  }
}

@media only screen and (min-width: 840px) {
  #popup .popup .popup__Contenedor .popup__ContenedorImg {
    width: 100%;
    height: 100%;
  }
  #popup .popup .popup__Cerrar{
    top: 70px;
    right: 35px;
  }
}

@media only screen and (min-width: 992px) {
  #popup .popup .popup__Contenedor .popup__ContenedorImg {
    width: 50%;
  }
  #popup .popup .popup__Contenedor .popup__ContenedorImg .popup__Img {
    position: relative;
    top: 50px;
  }
}

@media only screen and (min-width: 1200px) {
  #popup .popup .popup__Contenedor .popup__ContenedorProductos .popup__ContenedorNombre {
    font-size: 6vh;
  }
  #popup .popup .popup__Contenedor .popup__ContenedorProductos .popup__ContenedorPrecio {
    font-size: 4vh;
  }
  #popup .popup .popup__Contenedor .popup__ContenedorProductos .popup__ContenedorStock {
    font-size: 3vh;
  }
  #popup .popup .popup__Contenedor .popup__ContenedorProductos .popup__ContenedorDescription {
    font-size: 3vw;
  }
  #popup .popup .popup__Cerrar{
    top: 250px;
    right: 50px;
  }
}

/*VISUALIZACIÓN DEL POPUP A PARTIR DE DISPOSTIVOS SUPERIORES A 500PX LANDSCAPE*/
@media only screen and (min-width: 500px) and (orientation: landscape) {
  #popup .popup .popup__Contenedor .popup__ContenedorProductos .popup__ContenedorNombre {
    font-size: 7.8vh;
  }
  #popup .popup .popup__Contenedor .popup__ContenedorProductos .popup__ContenedorPrecio {
    font-size: 7vh;
  }
  #popup .popup .popup__Contenedor .popup__ContenedorProductos .popup__ContenedorStock {
    font-size: 6vh;
  }
  #popup .popup .popup__Contenedor .popup__ContenedorProductos .popup__ContenedorAgregar {
    font-size: 3.6vh;
  }
}

/*VISUALIZACIÓN DEL POPUP A PARTIR DE DISPOSTIVOS SUPERIORES A 800PX LANDSCAPE*/
@media only screen and (min-width: 800px) and (orientation: landscape) {
  #popup .popup .popup__Contenedor .popup__ContenedorProductos .popup__ContenedorNombre {
    font-size: 10vh;
  }
  #popup .popup .popup__Contenedor .popup__ContenedorProductos .popup__ContenedorPrecio {
    font-size: 8vh;
  }
  #popup .popup .popup__Contenedor .popup__ContenedorProductos .popup__ContenedorStock {
    font-size: 7vh;
  }
  #popup .popup .popup__Contenedor .popup__ContenedorProductos .popup__ContenedorAgregar {
    font-size: 4vh;
  }
}

/*VISUALIZACIÓN DEL POPUP A PARTIR DE DISPOSTIVOS SUPERIORES A 1020PX LANDSCAPE*/
@media only screen and (min-width: 1020px) and (orientation: landscape) {
  #popup .popup .popup__Contenedor .popup__ContenedorProductos .popup__ContenedorNombre {
    font-size: 7vh;
  }
  #popup .popup .popup__Contenedor .popup__ContenedorProductos .popup__ContenedorPrecio {
    font-size: 6vh;
  }
  #popup .popup .popup__Contenedor .popup__ContenedorProductos .popup__ContenedorStock {
    font-size: 5vh;
  }
  #popup .popup .popup__Contenedor .popup__ContenedorProductos .popup__ContenedorAgregar {
    font-size: 3vh;
  }
  #popup .popup .popup__Cerrar {
    top: 40px;
    right: 35px;
  }
}





/* ACERCA DE */
#acercaDeAPI{
  margin-bottom: 2vw;
}
.aboutUsContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.aboutUsContainer h2{
  font-weight: 900;
  color: #E23636;
  margin-bottom: 3vw;
}
.aboutUsContent{
  max-width: 90vw;
}
.aboutUsContent p{
  text-align: center;
  margin-bottom: 2vw;
  font-weight: 700;
}
.aboutUsImg__Content{
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.aboutUsImg__Content img{
  width: 300px;
  height: 300px;
  border-radius: 10px;
}





/* FOOTER */
.footer{
  width: 100vw;
  background: #f1f2f3;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footerLogo img{
  width: 100px;
}
.footerHead{
  width: 100%;
  position: relative;
  left: 4vw;
}
.footerHead__First{
  padding: 20px;
}
.footerHead__Second{
  padding: 20px;
}
.footerSiguenos{
  margin-top: 20px;
}
.footerSiguenos h3{
  font-weight: 900;
  cursor: context-menu;
}
.footerSiguenos a{
  text-decoration: none;
}
.footerAPI h3{
  font-weight: 900;
  cursor: context-menu;
}
.footerAPI ul li{
  list-style: none;
}
.footerAPI ul li a{
  text-decoration: none;
  color: #0f0007;
}
.footerLegales h3{
  font-weight: 900;
  cursor: context-menu;
}
.footerLegales ul li{
  list-style: none;
}
.footerLegales ul li a{
  text-decoration: none;
  color: #0f0007;
}
.footerCopy{
  width: 100vw;
  border-top: solid 1px black;
  padding-top: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  cursor: context-menu;
}
.footerCopy a{
  text-decoration: none;
  color: #E23636;
  font-weight: 900;
  margin-left: 5px;
}